<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>
        Blog App
    </title>
    <style>
        .container.main {
            margin: 3em;
        }
        
        .customform {
            display: inline;
        }
        *:focus{
            outline:none;
        }
        #searchbtn{
            border:none;
            border-bottom: 2px solid rgb(45, 48, 231);
            box-shadow: none;
        }
        
       
    </style>
</head>

<body>